DATABASE_USER=""
DATABASE_TYPE=""
DATABASE_PASSWORD=""
DATABASE_HOST=""
DATABASE_SCHEMA=""
DATABASE_URL=""
RESTRICT_HTTPS_ONLY=""
MASTER_KEY=""
DESIGNATED_ADMIN_USERS="set_username_followed_by_comma,Like_this,"
ALLOWED_ROLE_TYPES="investigator,admin,viewer,"